[package]
name = "metrics-aggregator"
version = "0.1.0"
edition = "2021"

[dependencies]
httpd = { path = "../crates/httpd" }
axum = { version = "0.7", features = ["json"] }
axum-server = { version = "0.7", features = ["tls-rustls"] }
futures = "0.3"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
once_cell = "1"
prometheus = "0.13"
thiserror = "1"
hyper = "0.14"
runtime = { path = "../crates/runtime", default-features = false, features = ["tokio-backend"] }
zip = "0.6"
blake3 = "1"
bytes = "1"
etcd-client = { version = "0.11", optional = true }
notify = "6"
age = "0.9"
openssl = { version = "0.10", features = ["vendored"] }
aws-sdk-s3 = { version = "1", optional = true, default-features = false, features = ["rustls"] }
aws-config = { version = "1", optional = true, default-features = false, features = ["rustls"] }
urlencoding = "2"
tracing = "0.1"
storage_engine = { path = "../crates/storage_engine" }

[dev-dependencies]
tower = "0.5"
regex = "1"


[features]
s3 = ["aws-sdk-s3", "aws-config"]
