[package]
name = "metrics-aggregator"
version = "0.1.0"
edition = "2021"

[dependencies]
httpd = { path = "../crates/httpd" }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
once_cell = "1"
thiserror = "1"
runtime = { path = "../crates/runtime", default-features = false, features = ["inhouse-backend"] }
zip = "0.6"
crypto_suite = { path = "../crates/crypto_suite" }
urlencoding = "2"
tracing = "0.1"
storage_engine = { path = "../crates/storage_engine" }
time = { version = "0.3", default-features = false, features = ["formatting", "macros", "std"] }

[dev-dependencies]
regex = "1"
tempfile = "3"
rand = { path = "../crates/rand" }


[features]
s3 = []
