[package]
name = "metrics-aggregator"
version = "0.1.0"
edition = "2021"
build = "build.rs"

[dependencies]
concurrency = { path = "../crates/concurrency" }
diagnostics = { path = "../crates/diagnostics" }
httpd = { path = "../crates/httpd" }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
runtime = { path = "../crates/runtime", default-features = false, features = ["inhouse-backend"] }
zip = "0.6"
crypto_suite = { path = "../crates/crypto_suite" }
urlencoding = "2"
storage_engine = { path = "../crates/storage_engine" }
time = { version = "0.3", default-features = false, features = ["formatting", "macros", "std"] }

[dev-dependencies]
regex = "1"
tempfile = "3"
rand = { path = "../crates/rand" }

[build-dependencies]
dependency_guard = { path = "../crates/dependency_guard" }


[features]
s3 = []
