[workspace]
members = [
  "node",
"state",
  "crates/credits",
  "crates/probe",
  "fuzz",
  "sim",
  "tools/xtask"
]
default-members = [
  "node",
"state",
  "crates/probe",
  "tools/xtask"
]
resolver = "2"
