[package]
name = "runtime"
version = "0.1.0"
edition = "2021"

[features]
default = ["inhouse-backend"]
inhouse-backend = ["dep:foundation_metrics"]
# Note: stub-backend and inhouse-backend are mutually exclusive
# When using --all-features, inhouse-backend takes precedence
stub-backend = ["dep:foundation_metrics"]

[dependencies]
concurrency = { path = "../concurrency" }
foundation_async = { path = "../foundation_async" }
foundation_metrics = { path = "../foundation_metrics", optional = true }
base64_fp = { path = "../base64_fp" }
rand = { path = "../rand" }
crypto_suite = { path = "../crypto_suite" }
sys = { path = "../sys" }
