[package]
name = "runtime"
version = "0.1.0"
edition = "2021"

[features]
default = ["inhouse-backend"]
inhouse-backend = ["dep:metrics", "dep:crossbeam-deque", "dep:mio", "dep:socket2", "dep:libc", "dep:nix"]
tokio-backend = ["dep:tokio", "dep:metrics"]
stub-backend = ["dep:metrics"]

[dependencies]
once_cell = "1"
tokio = { version = "1", features = ["rt-multi-thread", "macros", "time", "net", "io-util"], optional = true }
futures = { version = "0.3", default-features = false, features = ["async-await", "executor", "std"] }
futures-util = { version = "0.3", default-features = false, features = ["std"] }
crossbeam-deque = { version = "0.8", optional = true }
mio = { version = "0.8", features = ["os-poll", "os-ext", "net"], optional = true }
metrics = { version = "0.21", optional = true }
socket2 = { version = "0.5", optional = true }
pin-project-lite = "0.2"
pin-project = "1"
libc = { version = "0.2", optional = true }
nix = { version = "0.27", optional = true, default-features = false, features = ["event", "inotify"] }
base64 = "0.21"
sha1 = "0.10"
rand = "0.8"
