[package]
name = "runtime"
version = "0.1.0"
edition = "2021"

[features]
default = ["tokio-backend"]
tokio-backend = ["dep:tokio", "dep:metrics"]
stub-backend = ["dep:futures", "dep:futures-util", "dep:metrics"]

[dependencies]
once_cell = "1"
tokio = { version = "1", features = ["rt-multi-thread", "macros", "time"], optional = true }
futures = { version = "0.3", default-features = false, features = ["executor", "std"], optional = true }
futures-util = { version = "0.3", default-features = false, features = ["std"], optional = true }
metrics = { version = "0.21", optional = true }
pin-project-lite = "0.2"
