[package]
name = "runtime"
version = "0.1.0"
edition = "2021"

[features]
default = ["inhouse-backend"]
inhouse-backend = ["dep:foundation_metrics"]
stub-backend = ["dep:foundation_metrics"]

[dependencies]
concurrency = { path = "../concurrency" }
foundation_async = { path = "../foundation_async" }
foundation_metrics = { path = "../foundation_metrics", optional = true }
base64_fp = { path = "../base64_fp" }
rand = { path = "../rand" }
crypto_suite = { path = "../crypto_suite" }
sys = { path = "../sys" }

[target.'cfg(windows)'.dependencies]
windows-sys = { version = "0.52.0", features = [
    "Win32_Foundation",
    "Win32_Storage_FileSystem",
    "Win32_System_IO",
    "Win32_System_Threading",
] }
