[package]
name = "tb-sim"
version = "0.1.0"
edition = "2021"

[dependencies]
rand = "0.8"
csv = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"

[dev-dependencies]
tempfile = "3"

