[package]
name = "monitoring-build"
version = "0.1.0"
edition = "2021"
build = "build.rs"

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"

[workspace]

[build-dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"
