[package]
name = "light-client"
version = "0.1.0"
edition = "2021"

[features]
default = ["desktop-probe"]
desktop-probe = []
android-probe = ["dep:ndk", "dep:ndk-context", "dep:jni"]
ios-probe = [
    "dep:objc",
    "dep:objc-foundation",
    "dep:objc_id",
    "dep:core-foundation",
]
telemetry = ["dep:once_cell", "dep:prometheus"]

[dependencies]
foundation_serialization = { path = "../foundation_serialization" }
once_cell = { version = "1", optional = true }
prometheus = { version = "0.13", optional = true }
async-trait = "0.1"
flate2 = "1"
futures = "0.3"
coding = { path = "../coding" }
crypto_suite = { path = "../crypto_suite" }
tracing = "0.1"
state = { path = "../../state" }
thiserror = "1"
runtime = { path = "../runtime", default-features = false, features = ["inhouse-backend"] }
sys = { path = "../sys" }

[dependencies.ndk]
version = "0.8"
optional = true

[dependencies.ndk-context]
version = "0.1"
optional = true

[dependencies.jni]
version = "0.21"
optional = true

[dependencies.objc]
version = "0.2"
optional = true

[dependencies.objc-foundation]
version = "0.1"
optional = true

[dependencies.objc_id]
version = "0.1"
optional = true

[dependencies.core-foundation]
version = "0.9"
optional = true

[dev-dependencies]
rand = { path = "../rand" }
tempfile = "3"
