[package]
name = "light-client"
version = "0.1.0"
edition = "2021"

[features]
default = ["desktop-probe"]
desktop-probe = []
android-probe = []
ios-probe = []
telemetry = ["dep:foundation_lazy"]

[dependencies]
foundation_archive = { path = "../foundation_archive" }
foundation_serialization = { path = "../foundation_serialization" }
foundation_lazy = { path = "../foundation_lazy", optional = true }
coding = { path = "../coding" }
crypto_suite = { path = "../crypto_suite" }
serde = { workspace = true }
diagnostics = { path = "../diagnostics" }
state = { path = "../../state" }
thiserror = { path = "../thiserror" }
runtime = { path = "../runtime", default-features = false, features = ["inhouse-backend"] }
sys = { path = "../sys" }

[dev-dependencies]
rand = { path = "../rand" }
sys = { path = "../sys" }
