[package]
name = "p2p_overlay"
version = "0.1.0"
edition = "2021"


[dependencies]
blake3 = "1"
bs58 = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1"
thiserror = "1"

[dev-dependencies]
tempfile = "3"

