name: testnet
on:
  workflow_dispatch:
  push:
    branches: [ main ]

env:
  FIRST_PARTY_ONLY: 1
jobs:
  mini-testnet:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: '1.86.0'
          override: true
      - run: docker compose -f deploy/docker-compose.yml up -d
      - run: cargo test --all --features test-telemetry --release
      - run: docker compose -f deploy/docker-compose.yml down -v
